html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.auth-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.user-details-container {
  display: flex;
  /*flex-direction: column;*/
  /*align-items: center;*/
  margin: 1em 2em;
}

.user-details {
  display: flex;
  gap: 1em;
  flex-direction: column;
  /*align-items: center;*/
  margin-top: 2em;
  border: 2px solid #a2a2a2;
  border-radius: 10px;
  padding: 2em;
  /*width: 20%;*/
}

.user-details h3 {
  font-family: Inter, sans-serif;
  padding: 0;
  margin: 0;
}

.user-details h3 span {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.user-details div {
  display: flex;
  gap: 1em;
  /*height: 4em;*/
  /*justify-content: center;*/
  align-items: center;
}

.user-details div img {
  align-self: center;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 2em;*/
  gap: 2em;
  padding-top: 2em;
}

.avatar {
  width: 35px;
  border-radius: 50%;
  margin-top: 0.8em;
}
